      .jumbo {
        background-image: url("gp2-5-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .jumbo2 {
        background-image: url("gp1-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .kapsa {
        background-image: url("kapsa.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 480px;
      }
      
        @media (max-width: 392px) {
    .buy-btn {
      margin-top: ;
      
    }
  }


