      .jumbo {
        background-image: url("gp2-5-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .jumbo2 {
        background-image: url("gp1-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .kapsa {
        background-image: url("kapsa.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 480px;
      }


      #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

  @media (min-width: 768px) {
    .opacity-lg-0 {
      background-color: transparent !important; /* zruší bg-dark */
    }
  }



