	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');
	
	
	body, html {
  height: 100%;
  margin: 0;
		scroll-behavior: smooth;
		font-family:  "Roboto";
	
}
	
	h1 {
		font-size: 5rem;
		font-family: 'Dancing Script', cursive;
		margin: 3rem 0;
	}
	
		h2 {
		font-size: 3rem;
		font-family: 'Dancing Script', cursive;
		
	}

.h5 {
	line-height: 2rem;
}
	
	#intro {
		 height: 100%; 
	background-image: url("head.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
	}
	
	nav {
	transition: all 0.2s ease;	
		background-color: rgba(255, 255, 255, 0.6);
	}
	
	
	#mynavbar a {
		text-align: center;
		color: black;
		
	}

@media (max-width: 575.98px) {  /* breakpoint Bootstrapu pro navbar (lg) */

/* jen na malé obrazovce a když je menu rozbalené */
@media (max-width: 991.98px) {
  .navbar.fixed-top:has(.navbar-collapse.show) {
    background-color: #fff;
  }

	
	h1 {
		font-size: 3.5rem;
	}
	
		h3 {
		font-size: 1.1em;
	}
	
	.opac {
		 background-color: #fff;
		padding: 1rem;
		border-radius: 20px;
		opacity: 0.75;
	}
	
}




	
	#galerie a {
		margin-bottom: 1rem;
	}

.tag {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* směry podle className */
.frombottom {
  transform: translateY(10vh);
}
.fromtop {
  transform: translateY(-10vh);
}
.fromleft {
  transform: translateX(-10vw);
}
.fromright {
  transform: translateX(10vw);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
